{% extends 'base/main.html' %} 
{% load static %}  
{% block style %}  
    <link rel="stylesheet" href="{% static 'base/task_form.css' %}"> 
{% endblock style %} 

{% block content %}
<div class="form-container">
    <div class="form-header">
        <h3 class="form-title">Add Your Task</h3>
        <a href="{% url 'tasks' %}" class="back-link">Go Back</a>
    </div>

    <form method="POST" action="" class="task-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <input type="submit" value="Submit" class="submit-btn">
        </div>
    </form>
</div>
{% endblock content %}
